footer 
    .footer 
        .footer-l
            .footer-l_imp Остались вопросы?
            .footer-l_desc_d Напишите нам или позвоните:
            .footer-l_imp
                a(href="tel:+79009005566").footer-l_imp_p  +79009005566
            .footer-l_desc 
                a(href="mailto:prime-auto@gmail.com") prime-auto@gmail.com
        .footer-r
            .footer-r_adress Санкт-Петербург <br>ул. Большая Морская, д.45
            .footer-r_hours Ежедневно с 10.00 до 22.00
