.card 
    .card_head 
        a(onClick="back()").card_head-ss
            img(src="./images/icons/black/arrow.webp") 
        .card_head-name
            span Lamborghini Aventador
    .card_gallery 
        <div class="glide" id="ave">
            <div class="glide__track" data-glide-el="track">
                <div class="glide__slides" id="autogall">
                <div class="glide__slide">
                    img(src="images/cards/lamborgini/aventador/img1.webp")
                </div>
                <div class="glide__slide">
                    img(src="images/cards/lamborgini/aventador/img2.webp")
                </div>
                <div class="glide__slide">
                    img(src="images/cards/lamborgini/aventador/img3.webp")
                </div>
                <div class="glide__slide">
                    img(src="images/cards/lamborgini/aventador/img4.webp")
                </div>
                </div>
            </div>
        </div> 
    
    .card_switch
        span(id="Tab") 
        a(id="sw1" onClick = "sw1Active()") Показатели
        a(id="sw2" onClick = "sw2Active()") Тарифы
    .card_info 
        .card_info-text 
            p Aventador S — роскошный инновационный суперкар. Внутренняя отделка, выполненная из материалов высочайшего качества, доступна в бесконечном многообразии вариантов. Элегантность интерьера сочетается с современными технологическими решениями, такими как приборная панель с интерактивным ЖК-дисплеем TFT с усовершенствованной графикой и специальная светодиодная подсветка. Разгон до сотни занимает 2,9 с, максимальная скорость — 350 км/ч.
        a.button(id="mobbut" onClick="open_popup()") Прокатиться
        .card_info-attributes
            p
                img.card_info-attributes_img(src="images/icons/black/speed.webp")  
                span.banner-info_speed 350 км/ч
            p
                img.card_info-attributes_img(src="images/icons/black/power.webp")   
                span.banner-info_power 740 л.с.
            p
                img.card_info-attributes_img(src="images/icons/black/time.webp") 
                span.banner-info_time 2.9 с.
        .card_info-price 
            p 
                img.card_info-price_img(src="images/icons/black/1h.webp")
                span.banner-info_power 3500 ₽ 
            p 
                img.card_info-price_img(src="images/icons/black/24h.webp") 
                span.banner-info_power 80 тыс. ₽   
    a.button(id="descbut" onClick="open_popup()") Прокатиться

    <script src="../node_modules/@glidejs/glide/dist/glide.min.js"></script>
    <script> var ave = { type: "carousel", focusAt: 'center', gap: 0, autoplay: 2000, hoverpause: false, perView: 1.5}; new Glide('#ave',ave).mount();</script>
