.card 
    .card_head 
        a(onClick="back()").card_head-ss
            img(src="images/icons/black/arrow.svg") 
        .card_head-name
            span Sunseeker 95 Yacht
    .card_gallery 
        <div class="glide" id="yac">
            <div class="glide__track" data-glide-el="track">
                <div class="glide__slides" id="autogall">
                    <div class="glide__slide">
                        img(src="images/cards/sunseeker/95yacht/img1.webp")
                    </div>
                    <div class="glide__slide">
                        img(src="images/cards/sunseeker/95yacht/img2.webp")
                    </div>
                    <div class="glide__slide">
                        img(src="images/cards/sunseeker/95yacht/img3.webp")
                    </div>
                </div>
            </div>
        </div> 
    .card_switch
        img(src="images/icons/black/sale.svg") 
        span октябрьский бонус: 
        <b>Sunseeker 95 Yacht на 9 дней по цене 5</b>
        a(id="sw1" onClick = "sw1Active()") Показатели
        a(id="sw2" onClick = "sw2Active()") Тарифы
    .card_info 
        .card_info-text 
            p Выдающиеся характеристики 95 Yacht - это уникальная планировка главной палубы с роскошной мастер-каютой, сконфигурированную в виде «триплекса»: лестница из мастер-каюты ведет в гардеробную и ванную комнаты.
            p Возвышающийся пост управления еще одна деталь, приковывающая внимание при изучении планировки главной палубы. Эта особенность 95 Yacht способствует увеличению полезной площади главной палубы, делая ее в итоге одной из самых объемных в данном размере яхт. На обширном флайбридже 95 Yacht располагаются бар, гидромассажная ванна и комфортабельные зоны отдыха.
        a.button(id="mobbut" onClick="open_popup()") Прокатиться
        .card_info-attributes
            .card_info-attributes_base
                p
                    img.card_info-attributes_img(src="images/icons/black/people.svg") 
                    span.banner-info_speed 10 чел.
                p
                    img.card_info-attributes_img(src="images/icons/black/line.svg") 
                    span.banner-info_power длина 28 м
                p
                    img.card_info-attributes_img(src="images/icons/black/bed.svg") 
                    span.banner-info_time 8 мест
            .card_info-attributes_mini
                img(src="images/icons/black/shower.svg") 
                img(src="images/icons/black/toilet.svg") 
                img(src="images/icons/black/microwave.svg") 
            .card_info-attributes_mini
                img(src="images/icons/black/froze.svg") 
                img(src="images/icons/black/film.svg") 
                img(src="images/icons/black/music.svg")    
        .card_info-price 
            p 
                img.card_info-price_img(src="images/icons/black/1h.svg") 
                span.banner-info_power 5500 ₽ 
            p 
                img.card_info-price_img(src="images/icons/black/24h.svg") 
                span.banner-info_power 125 тыс. ₽ 
 
    a.button(id="descbut" onClick="open_popup()") Прокатиться

    <script src="node_modules/@glidejs/glide/dist/glide.min.js"></script>
    <script> var yac = { type: "carousel", focusAt: 'center', gap: 0, autoplay: 2000, hoverpause: false, perView: 1.5}; new Glide('#yac',yac).mount();</script>
